/node_modules
/public/hot
/public/storage
/public/assets/images/large
/public/assets/images/thumbnails
/storage/*.key
/vendor
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
