@import "./cart.css";
@import "./history-transaction.css";
@import "./profile.css";
@import "./order-history.css";
@import "./address.css";

.header-top-message {
    background-color: #fddde6;
    text-align: right;
    font-weight: 500;
    padding-right: 30px;
    font-size: 13px;
    line-height: 35px;
}

.text-bold {
    font-weight: 700;
}

.header-top-message a {
    text-decoration: none;
    color: #555555;
}

.slider-item.style1 .slider-inner {
    background-image: url(../images/slider-1.jpg);
}

.slider-item.style2 .slider-inner {
    background-image: url(../images/slider-2.jpg);
}
