@import "./cart.css";
@import "./history-transaction.css";
@import "./profile.css";
@import "./order-history.css";
@import "./address.css";
@import "./checkout.css";

.d-flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.header-top-message {
    background-color: #fddde6;
    text-align: right;
    font-weight: 500;
    padding-right: 30px;
    font-size: 13px;
    line-height: 35px;
}

.text-bold {
    font-weight: 700;
}

.header-top-message a {
    text-decoration: none;
    color: #555555;
}

.slider-item.style1 .slider-inner {
    background-image: url(../images/slider-1.jpg);
}

.slider-item.style2 .slider-inner {
    background-image: url(../images/slider-2.jpg);
}

.menu-item.mobile-only {
    display: none;
    width: 100%;
}
@media screen and (max-width: 48em) {
    .menu-item.mobile-only {
        display: inline-block;
    }
}

.btn-checkout-overlay {
    margin: 20px 8px 20px;
}

.btn-consultation-wa {
    align-self: baseline;
}
a .btn-consultation-wa:hover {
    color: white !important;
}
